# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries

# Executables
*.exe
*.out
*.app

bin/
cmake-build-debug/
.idea/
.vs/
out/
CMakeFiles/
compress.dir/
crypto.dir/
NginD.dir/
x64/

CMakeCache.txt

build/
win32/resources